.label-login {
    -fx-background-radius: 10px;
}
.label-login:hover {
    -fx-background-color: #ad4f37;
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
}
.label-login:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}
.parent {
    -fx-background-color: transparent;
    -fx-border-radius: 15px;
}
.text {
    -fx-background-radius: 30px;
}